.box_auth { 
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(33, 77, 208);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: fixed;
    background-attachment: fixed;

    font-weight: bold;
  }

.inner_box_auth{
    
    max-width: 1000px;
    position:static;
    display: block;
    top: 50%;
    left: 50%;
    background: rgb(255, 255, 255);
    padding: 30px;
  
}