.note {
    border-radius: 7px;
    box-shadow: 1px 3px 5px #0a0a0a;
    padding: 15px;
    width: 240px;
    margin: 16px;
    float: left;
    max-height: 1000px;
    height: 500px;
    font-size: medium;
    font-weight: bold;
    position: fixed;
    background: rgba(17, 24, 27, 0.507);
  }

  .rectangle {
    width: 24rem;
    height: 14rem;
    background: rgb(43, 126, 137);
  }

  .container {
    width: 100%;/*whatever size you want your container*/
    flex-flow: row wrap;
    display: flex; /*Make sure to call this on your container*/
    align-items: stretch; /*stretches all cards same height*/
    justify-content: start; /*some space between cards*/
  }

  .card {
    width: 150px; /*or whatever size card you want*/
    border: 5px solid red;
  }

  .body_color {
    background-color: rgba(72, 19, 110, 0.507);
  }
